{% extends "base.html" %} 
 {% block content %}
{% comment %} <h1 class="text-center text-uppercase text-primary">Frontpage</h1> {% endcomment %}
<div class="m-3 p-2 rounded bg-light">
      <p class="m-4"><span class=" text-danger shadow p-2 bagde rounded bg-warning">New Products</span></p>

    <div class="text-capitalize">

      <div class="d-flex flex-wrap justify-content-center">
        {% for product in New_Products %}
            {% include 'list_item.html' %}
        {% endfor %}
      </div>
    </div>
    </div>
  {% endblock %}

